

header .brand-logo img{
    max-width: 120px;
}
.navbar {
display: flex;
}
.main-menu .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-list li {
    float: left;
    padding: 10px 20px;
    text-align: center;
}