@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

/* 
-------HEADER-------
*/
header .brand-logo img {
    max-width: 120px;
}

.navbar {
    display: flex;
    margin-left: auto;
}

.main-menu .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    float: left;
    padding: 10px 20px;
    text-align: center;
    color: rgb(13, 13, 13);
    font-size: 16px;
    font-family: "Outfit", sans-serif;
}
.menu-list li a {
    text-decoration: none;
    color:#0c0c0c;
}
.menu-list li:hover a {
    color:#9d0404;
}
.flex-navigation {
    display: flex;
    align-items: center;
}

.right-button a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(225, 29, 68);
    border: 1px solid rgb(225, 29, 68);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    display: block;
    font-family: "Outfit", sans-serif;
}

.right-button a:hover {
    background-color: rgb(225, 29, 68) !important;
    color: #FFFFFF;
    border-color: rgb(225, 29, 68) !important;
}


/* END HEADER */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

.width-full {
    width:100%;

}

.text-center {
    text-align: center;
} 

h1 {
    font-size: 46px;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding-top: 30px;
}

.our-services_section span {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: #505050;
}

.service-grid {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  align-items: start; /* keep single-row alignment */
  padding: 40px 0;

}

.card-service {
  background: #9490;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(20,30,40,0.06);
  transition: transform .18s ease, box-shadow .18s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
.service-icon span{
    display: block;
}
.service-icon {
    display: flex;
    justify-content: end;
}